nav li a{
	color: white!important;
}
nav li a:link{
	text-decoration: none!important;
}
nav li a:hover{
	color: yellow!important;
}
nav li a:visited{
	text-decoration: none!important;
}
nav li a:active{
	color: yellow!important;
}
.box17{
	position:relative;
}
.box17:after{
	content:"";
	width:100%;
	height:100%;
	background:rgba(2,162,221,.9);
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition:all .5s ease 0s
}
.box17:hover:after{
	opacity:1
}
.box17 img{
	width:100%;
	height:auto;
	transition:all 1.5s ease 0s
}
.box17 .box-content,.box17 .icon li a{
	position:absolute;
	transition:all .6s ease 0s
}
.box17:hover img{
	transform:scale(1.2)
}
.box17 .icon{
	width:100%;
	height:100%;
	list-style:none;
	padding:0;
	margin:0 auto;
	position:absolute;
	top:0;
	left:0;
	z-index:1
}
.box17 .icon li a
{
	color: black;
	width:45px;
	height:45px;
	line-height:45px;
	margin:0 auto;
	top:50%;
	border:1px solid #fff;
	opacity:0;
	border-radius: 30px;
}
.box17:hover .icon li a{
	top:30%;
	opacity:1
}
.box17 .icon li a:hover{
	background:#fff;
	color:#02a2dd
}
.box17 .icon li:first-child a{
	left:-90%;
	right:0
}
.box17:hover .icon li:first-child a{
	left:-55px
}
.box17 .icon li:last-child a{
	right:-90%;
	left:0
}
.box17:hover .icon li:last-child a{
	right:-55px
}
.box17 .box-content{
	width:100%;
	padding:20px 10px;
	background:rgba(0,0,0,.1);
	bottom:-100px;
	left:0;
	z-index:1
}
.box17:hover .box-content{
	bottom:0
}
.box17 .title{
	font-size:18px;
	font-weight:700;
	color:#fff;
	margin-top:0
}
.box17 .post{
	display:block;
	font-size:14px;
	color:#fff
}
@media only screen and (max-width:990px){
	.box17{
		margin-bottom:30px
	}
}

.img-home
{
	background-image: url('../img/fond4.jpg');
	width: 100%;
	height: 50vw;
	background-size: cover;
}

.img-home > .content
{
	position: relative;
	top: 60%;
	background: rgba(37, 37, 37, 0.28);
    padding: 10px;
}
.title
{
	margin-bottom: 5px;
	color: #fff;
}

#candidates_section
{
	background: url('../img/bg-stars.jpg');
	background-size: cover;
}
#contact_section
{
	background: url('../img/bg-building.jpg');
	background-size: cover;
}
#partenaires_section img
{
	max-height: 100px;
	padding: 5px;
}

html
{
  scroll-behavior: smooth;
}

#commite_section, #partenaires_section
{
	background: -moz-linear-gradient(269deg, rgba(199,112,75,1) 0%, rgba(255,166,107,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(199,112,75,1)), color-stop(100%, rgba(255,166,107,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(269deg, rgba(199,112,75,1) 0%, rgba(255,166,107,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(269deg, rgba(199,112,75,1) 0%, rgba(255,166,107,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(269deg, rgba(199,112,75,1) 0%, rgba(255,166,107,1) 100%); /* ie10+ */
	background: linear-gradient(181deg, rgba(199,112,75,1) 0%, rgba(255,166,107,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7704b', endColorstr='#FFA66B',GradientType=0 ); /* ie6-9 */

}
section
{
	padding-top: 40px;
	padding-bottom: 40px;
}

iframe
{
	border: 0;
	margin:50px 30px 10px 0px;
	width: 350px;
	height: 250px;
}

.social:hover{
	background-color: #f0f8ff;
}

.social{
	border-radius: 15px;
	background-color: rgba(255,255,255,0.5);
	margin: 0px 10px 0 10px;
}

.candidate-informations .modal-content{
	background: rgba(0,0,0,0.8);
}

.candidate-info{
	color: white;
}

#partenaires_section img
{
	padding: 5px;
}

@media only screen and (max-width: 375px)
{
  iframe
  {
    width: 300px;
  }

  .img-home a
  {
	font-size: 15px;
  }

  .title
  {
  	margin-top: -10px;
	font-size: 15px;
  }
}

@media only screen and (max-width: 320px)
{
  	iframe
  	{
    	width: 250px;
  	}

	#partenaires_section img
	{
		padding: 30px;
	}

}

@media only screen and (max-width: 425px){
	#partenaires_section img
	{
		padding: 25px;
	}
}